body{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-image: url("../assets/letstry.jpg");
    background-size: cover;
}

#revive{
    color: #008046;
}

.navv{
    background-color: rgba(0, 128, 70, .4) !important;
}

.account-link{
    color: white;
    padding: 10px;
}

.btn-outline-success{
    color: white !important;
    border-color: white !important;
}

.d-flex{
    background-color: #008046;
}

.shadow-sm {
    box-shadow: 0 .200rem .200rem rgba(0,128,70,.4)!important;
}

.rounded {
    border-radius: 10px 10px!important;
}

.btn-link {
    font-weight: 400;
    color: #008046;
    text-decoration: none;
}

