body {
  background-image: url(/assets/letstry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main{
  padding: 100px;
  margin-top: 15px;
}

.navv{
  background-color: rgba(0, 128, 70, .4) !important;
}


.account-link{
  color: white;
}

section{
  width: 75%;
  padding: 25px;
  margin: 0 auto;
  background-color: rgba(25, 255, 255, 0.4);
}

.card-content{
  margin-bottom: 25px;
  margin: 10px;
  padding: 25px;
}


span{
  margin: unset;
  float: right;
}

.date-container{
  margin-left: 25px;
}

section {
  width: 75%;
  padding: 25px;
  margin: 0 auto;
  background-color: rgba(0, 128, 70, 0.4);
}

.btn-link {
  font-weight: 400;
  color: white;
  text-decoration: none;
}

#revive3{
  color: white !important;
}